*, *::before , *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    min-height:100vh;
    font-family: 'Rubik', sans-serif;
}

body{
    min-height: 100vh;
    background-color:#aeb8e3;
}

.container{
   width:min(90%, 1140px);
   margin:3rem  auto;
   width: 800px;

}

.parent-comment-container{
   display: flex;
    background-color: white;
    padding:30px;
    gap: 2rem;
    border-radius:10px;
    margin-bottom: 15px;
    width:800px;

}

.comment-header{
    display:flex;
    justify-content: space-between;
    margin-bottom:13px;
}
.counter{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:#F5F6FA ;
    width: 65px;
    height:92px;
    border-radius: 10px;

}

.plus, .minus, .count{
    margin: auto;
}
.comment-reply{
    display:flex;
    gap: .4rem;
}
.avatar-name-time{
    display: flex;
    justify-content: space-between;
    width:270px;
    gap: -0.5rem;
}

.avatar{
    width: 35px;
    height:35px;
}

.commenter-name,.comment-time,.comment-reply{
    margin-top:10px;
}
.commenter-name, .comment-reply{
    font-weight:700;
}
.comment-reply, .count{
    color:#5357B6;
}
.comment-time,.comment-body-text{
    color:#67727E;
}
.count{
    font-weight: 700;
}

/* reply */
.username{
    font-weight: 700;
    color:#5357B6;
}
.reply-container{
    width: 750px;
    border-left:2px solid #C3C4EF;
    float:right;
    min-height:100;
    
   
    
}

.child-comment-container{
   display:flex;
    background-color: white;
    padding:30px;
    gap: 2rem;
    border-radius:10px;
    margin-bottom:15px;
    width:700px;
    float:right;
   
}

/* main input comment area (below the page)*/
.input-comment-container{
    display: flex;
    background-color: white;
    padding:30px;
    gap: 2rem;
    border-radius:10px;
    margin-bottom: 15px;
    height:168px;
    width:800px;
}

.input-comment-div{
    display:flex;
    justify-content: space-between;
    margin:auto;
    width:100%;
}

.main-comment-input-field-avatar{
    width:50px;
    height:50px;
}
button{
    padding:10px 20px;
    font-size:18px;
    font-weight:500;
    background-color: #5357B6;
    border:none;
    color:white;
    border-radius:10px;
}

.main-comment-input-field{
    border-color:#EAECF1 ;
    resize: none;
    font-size:16px;
    padding:10px;
}

/* send reply comment area */
.send-reply-container{
    width: 750px;
    border-left:2px solid #C3C4EF;
    float:right;
    min-height:100;
}
.send-comment-input-field{
    border-color:#EAECF1 ;
    resize: none;
    font-size:16px;
    padding:10px;
}

/* sent comment */
.sent-comment-container{
    display:flex;
    background-color: white;
    padding:30px;
    gap: 2rem;
    border-radius:10px;
    margin-bottom:15px;
    width:700px;
    float:right;
}

.delete-edit-container{
    display:flex;
    gap: 1rem;
}
.delete-container,.edit-container{
    display:flex;
    gap:.4rem;
}
.delete-text{
    color:#ED6368;
    font-weight:700;
}
.edit-text{
    color:#5357B6;
    font-weight:700;
}

.you{
    padding:3px 8px;
    font-size:14px;
    font-weight:400;
    background-color: #5357B6;
    border:none;
    color:white;
    margin-top:10px;
    border-radius:2px;
}

/* modal */
.modal-container{
    background-color: white;
    border:1px solid red;
    position:fixed;
    margin:auto;
    width:320px;
    height:210px;
}
.modal-prompt-text{
   
}