*, *::before , *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    min-height:100vh;
    font-family: 'Rubik', sans-serif;
}

body{
    min-height: 100vh;
    background-color:#aeb8e3;
}

.container{
   width:min(90%, 1140px);
   margin:3rem  auto;
   width: 900px;
}

.parent-comment-container{
   display: flex;
    background-color: white;
    padding:30px;
    gap: 2rem;
    border-radius:10px;
    margin-bottom: 15px;

}

.comment-header{
    display:flex;
    justify-content: space-between;
    margin-bottom:13px;
}
.counter{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:#F5F6FA ;
    width: 65px;
    height:92px;
    border-radius: 10px;

}

.plus, .minus, .count{
    margin: auto;
}
.comment-reply{
    display:flex;
    gap: .4rem;
}
.avatar-name-time{
    display: flex;
    justify-content: space-between;
    width:270px;
    gap: -0.5rem;
}

.avatar{
    width: 35px;
    height:35px;
}

.commenter-name,.comment-time,.comment-reply{
    margin-top:10px;
}
.commenter-name, .comment-reply{
    font-weight:700;
}
.comment-reply, .count{
    color:#5357B6;
}
.comment-time,.comment-body-text{
    color:#67727E;
}
.count{
    font-weight: 700;
}

/* reply */
.username{
    font-weight: 700;
    color:#5357B6;
}
.reply-container{
    width: 850px;
    border-left:2px solid #C3C4EF;
    float:right;
    min-height:100;
    
}

.child-comment-container{
   display:flex;
    background-color: white;
    padding:30px;
    gap: 2rem;
    border-radius:10px;
    margin-bottom:15px;
    width:800px;
    float:right
   
}

/* input comment area */
.input-comment-container{
    display: flex;
    background-color: white;
    padding:30px;
    gap: 2rem;
    border-radius:10px;
    margin-bottom: 15px;
}

.input-comment-div{
    display:flex;
    justify-content: space-between;
    border: 1px solid red;
    margin:auto;
    width:100%;
}

.main-comment-input-field-avatar{
    width:50px;
    height:50px;
}





